.nav {
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 16px 4px;
}

.nav:hover {
    background-color: #ddd;
    color: black;
}
